
<div class="container">
  <div class="left">
    <a href="#" class="button" id="download-btn" download="monsterise-me.png">Download</a>
    
    <canvas></canvas>

  </div>
  <div class="listeners">
    
    <section class="colors">
      <h3>color</h3>
      <div class="color-box orange"></div>
      <div class="color-box purple"></div>
      <div class="color-box green"></div>
      <div class="color-box pink"></div>
    </section>

    <section class="bodies">
      <h3>body</h3>
      
      <img class="body-part" src="/body/body-02.png" alt="">
      <img class="body-part" src="body/body-03.png" alt="">
      <img class="body-part" src="body/body-04.png" alt="">
      <img class="body-part" src="body/body-05.png" alt="">
      <img class="body-part" src="body/body-06.png" alt="">
      <img class="body-part" src="body/body-07.png" alt="">
      <img class="body-part" src="body/body-08.png" alt="">
      <img class="body-part" src="body/body-09.png" alt="">
      <img class="body-part" src="body/body-10.png" alt="">
      <img class="body-part" src="body/body-11.png" alt="">
      <input class="hidden" type="file" id="body-upload" name="body-upload" accept="image/png" />
      <button class="hidden">save</button>
    </section>

    <section class="arms">
      <h3>arms</h3>
      <img class="body-arm hidden" src="body/arms-65.png" alt="">
      <img class="body-arm hidden" src="body/arms-66.png" alt="">
      <img class="body-arm hidden" src="body/arms-67.png" alt="">
      <img class="body-arm hidden" src="body/arms-68.png" alt="">
      <img class="body-arm hidden" src="body/arms-69.png" alt="">
      <img class="body-arm hidden" src="body/arms-70.png" alt="">
      <img class="body-arm hidden" src="body/arms-71.png" alt="">
      <img class="body-arm hidden" src="body/arms-72.png" alt="">
      <img class="body-arm hidden" src="body/arms-73.png" alt="">
      <img class="body-arm hidden" src="body/arms-74.png" alt="">
    </section>

    <section class="legs">
      <h3>legs</h3>
      <img class="body-part hidden" src="body/legs-12.png" alt="">
      <img class="body-part hidden" src="body/legs-13.png" alt="">
      <img class="body-part hidden" src="body/legs-14.png" alt="">
      <img class="body-part hidden" src="body/legs-15.png" alt="">
      <img class="body-part hidden" src="body/legs-17.png" alt="">
      <img class="body-part hidden" src="body/legs-18.png" alt="">
      <img class="body-part hidden" src="body/legs-19.png" alt="">
      <img class="body-part hidden" src="body/legs-20.png" alt="">
      <img class="body-part hidden" src="body/legs-21.png" alt="">
      <img class="body-part hidden" src="body/legs-22.png" alt="">
      <img class="body-part hidden" src="body/legs-23.png" alt="">
      <img class="body-part hidden" src="body/legs-24.png" alt="">
    </section>

    <section class="eyes">
      <h3>eyes</h3>
      <img class="body-part hidden" src="body/eyes-37.png" alt="">
      <img class="body-part hidden" src="body/eyes-38.png" alt="">
      <img class="body-part hidden" src="body/eyes-39.png" alt="">
      <img class="body-part hidden" src="body/eyes-40.png" alt="">
      <img class="body-part hidden" src="body/eyes-41.png" alt="">
      <img class="body-part hidden" src="body/eyes-42.png" alt="">
      <img class="body-part hidden" src="body/eyes-43.png" alt="">
      <img class="body-part hidden" src="body/eyes-44.png" alt="">
      <img class="body-part hidden" src="body/eyes-45.png" alt="">
      <img class="body-part hidden" src="body/eyes-46.png" alt="">
      <img class="body-part hidden" src="body/eyes-47.png" alt="">
      <img class="body-part hidden" src="body/eyes-48.png" alt="">
    </section>

    <section class="mouths">
      <h3>mouth</h3>
      <img class="body-part hidden" src="body/mouth-25.png" alt="">
      <img class="body-part hidden" src="body/mouth-26.png" alt="">
      <img class="body-part hidden" src="body/mouth-27.png" alt="">
      <img class="body-part hidden" src="body/mouth-28.png" alt="">
      <img class="body-part hidden" src="body/mouth-29.png" alt="">
      <img class="body-part hidden" src="body/mouth-30.png" alt="">
      <img class="body-part hidden" src="body/mouth-31.png" alt="">
      <img class="body-part hidden" src="body/mouth-32.png" alt="">
      <img class="body-part hidden" src="body/mouth-33.png" alt="">
      <img class="body-part hidden" src="body/mouth-34.png" alt="">
      <img class="body-part hidden" src="body/mouth-35.png" alt="">
      <img class="body-part hidden" src="body/mouth-36.png" alt="">
    </section>

    <section class="noses">
      <h3>nose</h3>
      <img class="body-nose hidden" src="body/nose-75.png" alt="">
      <img class="body-nose hidden" src="body/nose-76.png" alt="">
      <img class="body-nose hidden" src="body/nose-77.png" alt="">
      <img class="body-nose hidden" src="body/nose-78.png" alt="">
    </section>

    <section class="textures">
      <h3>texture</h3>
      <img class="body-part hidden" src="body/texture-49.png" alt="">
      <img class="body-part hidden" src="body/texture-50.png" alt="">
      <img class="body-part hidden" src="body/texture-51.png" alt="">
      <img class="body-part hidden" src="body/texture-52.png" alt="">
      <img class="body-part hidden" src="body/texture-53.png" alt="">
      <img class="body-part hidden" src="body/texture-54.png" alt="">
      <img class="body-part hidden" src="body/texture-55.png" alt="">
      <img class="body-part hidden" src="body/texture-56.png" alt="">
    </section>

  </div>
</div>
  