h1 {
  font-family: 'Sigmar One', cursive;
  text-align: center;
  color: #4A148C;
  font-size: 3em;
}

h3 {
  background-color: rgb(221, 215, 228);
  padding: 10px;
  margin: 0;
}

canvas {
  display: block;
  margin: 20px auto;
}

section {
  margin-top: 0px;
}

body {
  font-family: 'Schoolbell', cursive;
}

.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.left {
  text-align: center;
  // width: 500px;
}

.listeners {
  display: flex;
  flex-direction: column;
}

.sibling {
  margin: 20px 0;
}

.body-part {
  width: 50px;
  height: 50px;
}

.body-arm {
  height: 30px;
}

.color-box {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 10px;
  margin: 20px 0;

}

.orange {
  background-color: #FF6000;
}

.purple {
  background-color: #4A148C;
}

.pink {
  background-color: #F25F5C;
}

.green {
  background-color: #0097A7;
}

.hidden {
  display: none;
}

.colors, .bodies, .arms, .legs, .eyes, .mouths {
  border: 1px solid #4A148C;
  width: 300px;
}

.sibling {
  padding-left: 10px;
}

a {
  font-size: 1.5em;
}

.attr {
  display: block;
  color: grey;
  text-decoration: none;
  margin: 10px;
  font-size: 1em;
}

@media screen and (max-width: 800px)  {
  .container {
    display: flex;
    flex-direction: column;
  }

  h1 {
    margin: 0;
    font-size: 4em;
    text-align: center;
  }

  .listeners {
    margin: 0 auto;
    
  }

  .colors, .bodies, .arms, .legs, .eyes, .mouths {
    width: 80vw;
  }

  h3 {
    font-size: 2em;
  }

  canvas {
    width: 80vw;
  }

}

@media screen and (min-width: 800px){
  .left {
    width: 500px;
  }
}