h1 {

  // font-family: 'Do Hyeon', sans-serif;
  // font-family: 'Patrick Hand', cursive;
  // font-family: 'Schoolbell', cursive;
  font-family: 'Sigmar One', cursive;
  text-align: center;
  color: #4A148C;
}

h3 {
  background-color: rgb(212, 211, 211);
  // border-radius: 10px 10px 0 0;
  border: 2px solid grey;
  padding: 10px;
  width: 250px;
}

canvas {
  display: block;
  margin: 20px auto;
}

.listeners {
  width: 250px;
}

section {
  margin-top: 0px;
}

body {
  font-family: 'Schoolbell', cursive;
}

.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.left {
  width: 50vw;
  text-align: center;
}

.listeners {
  display: flex;
  flex-direction: column;

}


.body-part {
  width: 50px;
  height: 50px;
}

.body-arm {
  height: 30px;
}

.body-nose {
  width: 30px;
  margin-right: 20px;
}

.color-box {
  width: 30px;
  height: 30px;
  display: inline-block;
  // margin-right: 10px;
  border-radius: 10px;
}

.orange {
  background-color: #FF6000;
}

.purple {
  background-color: #4A148C;
}

.pink {
  background-color: #F25F5C;
}

.green {
  background-color: #0097A7;
}

.hidden {
  display: none;
}