h1 {

  // font-family: 'Do Hyeon', sans-serif;
  // font-family: 'Patrick Hand', cursive;
  // font-family: 'Schoolbell', cursive;
  font-family: 'Sigmar One', cursive;
  text-align: center;
  color: #4A148C;
  font-size: 3em;
}

h3 {
  background-color: rgb(221, 215, 228);
  // border-radius: 10px 10px 0 0;
  // border: 2px solid #4A148C;
  padding: 10px;
  // width: 250px;
  margin: 0;
}

canvas {
  display: block;
  margin: 20px auto;
}

.listeners {
  width: 250px;
}

section {
  margin-top: 0px;
}

body {
  font-family: 'Schoolbell', cursive;
}

.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.left {
  width: 50vw;
  text-align: center;
}

.listeners {
  display: flex;
  flex-direction: column;

}

.sibling {
  margin: 20px 0;
}

.body-part {
  width: 50px;
  height: 50px;
}

.body-arm {
  height: 30px;
}

.body-nose {
  width: 30px;
  margin-right: 20px;
}

.color-box {
  width: 40px;
  height: 40px;
  display: inline-block;
  // margin-right: 10px;
  border-radius: 10px;
  margin: 20px 0;

}

.orange {
  background-color: #FF6000;
}

.purple {
  background-color: #4A148C;
}

.pink {
  background-color: #F25F5C;
}

.green {
  background-color: #0097A7;
}

.hidden {
  display: none;
}

.colors, .bodies, .arms, .legs, .eyes, .mouths {
  border: 1px solid #4A148C;
  width: 300px;
}

.sibling {
  padding-left: 10px;
}

a {
  font-size: 1.5em;
}

.attr {
  display: block;
  color: grey;
  text-decoration: none;
  margin: 10px;
  font-size: 1em;
}

@media (max-width: 600px){
  .container {
    display: flex;
    flex-direction: column;
  }
}
